.search-component{
    transition: .3s ease-in-out;
    transform: translateX(-500rem);
    height: 100vh;
    opacity: 0;
}
.visible-search-component{
    transform: translateX(0);
    opacity: 1;
}
.prodects{
    height: 95%;
    margin-bottom: 2px;
}
 @media(max-width:594px){
         .li{
             margin: .8rem;
         }
     }