.search-component{
    transition: .3s ease-in-out;
    height: 100vh;
}

.prodects{
    height: 95%;
    margin-bottom: 2px;
}
 @media(max-width:594px){
         .li{
             margin: .8rem;
         }
     }